:root {
  --green: #98d4bb;
  --pink: #eb96aa;
  --blue: #218b82;
}

.custombtn {
  padding: 0.5rem 1.5rem;
  border-radius: 0.6rem;
  border: 0.2rem solid;
  margin: 0px 0.4rem;
  cursor: pointer;
  text-align: center;
  font-size: 1.1rem;
}

.btn--green {
  color: var(--green);
  background-color: white;
  border-color: var(--green);
}

.btn--green:hover {
  color: white;
  background-color: var(--green);
}

.btn--pink {
  color: var(--pink);
  background-color: white;
  border-color: var(--pink);
}

.btn--pink:hover {
  color: white;
  background-color: var(--pink);
}

.btn--blue {
  color: var(--blue);
  background-color: white;
  border-color: var(--blue);
}

.btn--blue:hover {
  color: white;
  background-color: var(--blue);
}
