#particle-filter-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0rem;
  width: 100%;
}

#line-toggle-container {
  display: flex;
  margin: 0.6rem 2rem 0.6rem 2rem;
}

#plot-controls {
  display: flex;
  align-items: center;
}
