.checkbox-container {
  display: flex;
  align-items: center;
  margin: 0px 0.7rem;
}

.checkbox-label {
  margin-left: 0.5rem;
  font-size: 1rem;
}

.checkbox-box {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #218b82;
  border-radius: 0.3rem;
  padding: 0.2rem;
  height: 1.6rem;
  width: 1.6rem;
}

.checkbox-active {
  border-radius: 0.15rem;
  background-color: #218b82;
  height: 0.8em;
  width: 0.8em;
}
