@import url("https://fonts.googleapis.com/css?family=Nunito");

html {
  font-size: 1vw;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: row;
  font-family: Nunito;
}

#configuration-panel {
  margin: 1.5rem 0px 2rem 3rem;
}

#tabs {
  display: flex;
  margin-left: 2rem;
}

#scenario-setter {
  display: flex;
  align-items: end;
  justify-content: space-between;
  width: 82%;
}

.setting-title {
  font-size: 1.3rem;
  font-weight: 400;
  margin-bottom: 0.7rem;
  align-self: baseline;
  margin-left: 2.5rem;
}

.configuration-contents {
  display: flex;
  flex-direction: column;
  padding: 1rem 1.3rem;
  background-color: #e5dbd9;
  border-radius: 1rem;
  min-height: 10rem;
  min-width: 30rem;
}

.settings-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem 0rem;
}

.settings-layout {
  display: flex;
  flex-direction: column;
  padding: 1rem 1.8rem;
  background-color: white;
  border-radius: 0.5rem;
  justify-content: left;
  align-items: flex-start;
  margin: 0.5rem 0px 0.8rem 0px;
  width: 90%;
}

.setting-label {
  font-size: 1em;
  width: auto;
}

.setting-listing {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: 0.6rem 0px;
}

.vertical-spacer {
  margin-top: 10px;
}

#visualization {
  display: flex;
  justify-content: center;
  margin-left: 2.5rem;
}

button.custom-dropdown {
  background-color: #218b82;
  border-color: #218b82;
}

button.custom-dropdown:hover {
  background-color: #1b726b;
  border-color: #1b726b;
}

button.custom-dropdown:active {
  background-color: #17635c !important;
  border-color: #17635c !important;
}

a.dropdown-item:active {
  background-color: #218b82;
}
